<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta  charset="utf-8">
        <title>海洋生物视频平台</title>
        
        <link rel="stylesheet" href="https://www.layuicdn.com/layui/css/layui.css"  media="all">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <style type="text/css" >
            .nav{
                width: 100%;
                height: 40px;
                background-color: chartreuse;
            }
            .nav .h-ul{
                list-style: none;
                
                margin-left: 50px;
            }
            
            .nav .h-ul li{
                display: inline;
 
                line-height: 40px;

                margin-left: 40px;

                float:left
            }
            
            .box-live{
                display: flex;
				justify-content: flex-start;
				flex-wrap: wrap;
				align-content: flex-start;
            }
            
            .left-class ul li{
                width: 60px;
                height: 30px;
                margin: auto;
            }
            .boom{
                text-align: center;
                flood-color: blue;
            }
        </style>
    </head>
    <body>
        <div class="nav">
            <ul class="h-ul">
                <li><a>首页</a></li>
                <li><a>团队介绍</a></li>
                <li><a>联系我们</a></li>
            </ul>
        </div>

        <div class="layui-carousel" id="test2" style="padding-top: 5px;  margin: auto; ">
            <div carousel-item="" style="text-align: center;">
              <div style="background-color: chocolate;" >条目1</div>
              <div style="background-color: cornflowerblue;">条目2</div>
              <div style="background-color: crimson;">条目3</div>
              <div style="background-color: darkblue;">条目4</div>
              <div style="background-color: darkgreen;">条目5</div>
            </div>
        </div>

        <div style="width: 90%; margin: 20px auto ;">
            <span>直播</span>  
            <a style="float: right;">更多></a>
        </div>

        <hr style="margin:10px auto;" width="90%">
        <!-- 直播框 -->
        <div id="liveDiv" class="box-live" style="width: 90%; margin: 10px auto;  ">
			<!--  
            <div class="eare-one" style="width: 150px;height: 150px;  position:relative;  border:1px solid #c0c0c0;margin:30px 20px 0 0;">
                <div style="width: 100%; height: 130px; background-color: darkmagenta;">  </div>
                <p style="position:absolute; left: 10px; bottom: 1px;" >海南 . 三沙</p> 
            </div>
            -->

        </div> 
          <!--end  直播框 结束 --> 
          <!-- 清除浮动 -->
        <div class="clear-float-1" style="clear:both"></div>

        <div style="width: 90%; margin: 20px auto;">
            <span>海洋生物</span>  
            <div style="float: right;">
                <!-- @yuxuhang  2021/04/26 start 添加检索功能 -->
				<div style="margin: 20px auto;padding-top:20px;">
					<div  style="float: right;"> <!-- 右浮动 -->
						<input type="text" name="info" id="info" style="width: 261px;" onkeyup="resetReading()">
						<input type="button" value="搜索" onclick="showInfo()">
						<div id="suggest" style="display:none;position:relative;width:260px "></div>
						<a style="float: right;margin-right: 20px;margin-left:20px">更多></a>
					</div>
				</div>
                  <!-- 清除浮动 -->
				<div class="clear-float-1" style="clear:both"></div>
            </div>
            <!-- 清除浮动 -->
			<div class="clear-float-1" style="clear:both"></div>
            <!-- @yuxuahng 2021/04/26 end -->
            
        </div>
         
        <hr style="margin:10px auto;" width="90%">
		<!-- 视频展示端 -->
        <div style="width: 90%;height:auto; margin: 20px auto;">
        	<!-- 左边分类框 -->
		    <div class="left-class" style="width: 200px; height:100%; float: left;">
        		<div class="layui-panel" style="width: 200px;">
        		<ul class="layui-menu" id="docDemoMenu1" style="width: 200px;">
        			<li class="layui-menu-item-divider" style="width: 200px;"></li>
        			<!-- 第一个 li 数据 -->
  					<li class="layui-menu-item-parent" lay-options="{type: 'parent'}" style="margin-top: 10px;width: 200px;">
		      			<div class="layui-menu-body-title" >
		      			少儿科普<i class="layui-icon layui-icon-right"></i>
				      	</div>
				      	<div class="layui-panel layui-menu-body-panel">
					        <ul >
					          <li lay-options="{id: 3111}" style="width:100px;">
					            <div class="layui-menu-body-title" >少儿1</div>
					          </li>
					          <li lay-options="{id: 3112}" style="width:100px;">
					            <div class="layui-menu-body-title" >少儿2</div>
					          </li>
					        </ul>
				      	</div>
			    	</li>
			    	<!-- end first li -->
			    	<li class="layui-menu-item-divider" style="width: 200px;"></li>
			    	
			    	<!-- 第一个 li 数据 -->
  					<li class="layui-menu-item-parent" lay-options="{type: 'parent'}" style="margin-top: 10px;width: 200px;">
		      			<div class="layui-menu-body-title">
		      			海洋动物<i class="layui-icon layui-icon-right"></i>
				      	</div>
				      	<div class="layui-panel layui-menu-body-panel">
					        <ul>
					          <li lay-options="{id: 1111}" style="width:100px;">
					            <div class="layui-menu-body-title" >养殖</div>
					          </li>
					          <li lay-options="{id: 1112}" style="width:100px;">
					            <div class="layui-menu-body-title" >有毒</div>
					          </li>
					          <li lay-options="{id: 1113}" style="width:100px;">
					            <div class="layui-menu-body-title" >濒危</div>
					          </li>
					          <li lay-options="{id: 1114}" style="width:100px;">
					            <div class="layui-menu-body-title" >最字</div>
					          </li>
					        </ul>
				      	</div>
			    	</li>
			    	<!-- end first li -->
			    	<li class="layui-menu-item-divider" style="width: 200px;"></li>
			    	
			    	<!-- 第一个 li 数据 -->
  					<li class="layui-menu-item-parent" lay-options="{type: 'parent'}" style="margin-top: 10px;width: 200px;">
		      			<div class="layui-menu-body-title">
		      			海洋植物<i class="layui-icon layui-icon-right"></i>
				      	</div>
				      	<div class="layui-panel layui-menu-body-panel">
					        <ul>
					          <li lay-options="{code: 2111}" style="width:100px;">
					            <div class="layui-menu-body-title" >养殖</div>
					          </li>
					          <li lay-options="{code: 2112}" style="width:100px;">
					            <div class="layui-menu-body-title" >有毒</div>
					          </li>
					          <li lay-options="{code: 2113}" style="width:100px;">
					            <div class="layui-menu-body-title" >濒危</div>
					          </li>
					          <li lay-options="{code: 2114}" style="width:100px;">
					            <div class="layui-menu-body-title" >最字</div>
					          </li>
					        </ul>
				      	</div>
			    	</li>
			    	<!-- end first li -->
			    	<li class="layui-menu-item-divider" style="width: 200px;"></li>
			    </ul>
				</div>
            </div>
            <!-- 右边视频数据  循环输出 -->
            <div id="video-right" class="right-video"  style="width: 80%; margin: auto;float:left;" >
				  <!-- 视频页面  循环输出  -->
				<div  id="show-v" 
					style="float: left;
            		display: flex;
					justify-content: flex-start;
					flex-wrap: wrap;
					align-content: flex-start;">
	                <div th:each="info:${page.records}" class="src-eare" style="width: 200px;height: 160px;  position:relative; margin:0 10px 10px 20px;">
	                   	<a th:href="@{'/showPage?id='+${info.getId()}}" style="width:200px;height:160px;">
	                   		<img th:src="'http://210.37.8.148:8888/sea'+${info.getiIconPath()}" style="width:100%;height:140px;">	
							<span th:text="${info.getiTitle()}">标题</span>   
				    	</a>
	                </div>
                </div>
                <!-- 清除浮动 -->
        		<div class="clear-float-2" style="clear:both"></div>
                <!-- 页数 -->
                <!-- 页码展示 -->
				<div id = "show-p" class="container px-1"  style="width:90px;height:54px">
					<div th:if="${page.total>0}" >
						<nav aria-label="Page navigation example">
						  <ul class="pagination justify-content-center">
						    <li class="page-item " th:classappend="${!page.hasPrevious}?'disabled' ">
						    	<a class="page-link" aria-label="Previous">
							        <span aria-hidden="true">&laquo;</span>
							     </a>
						    </li>
						    <li th:if="${page.current-3>0}" class="page-item">
						    	<a class="page-link"  th:text="${page.current-3}">1</a></li>
						    <li th:if="${page.current-2>0}" class="page-item">
						    	<a class="page-link"  th:text="${page.current-2}">1</a></li>
						    <li th:if="${page.hasPrevious}" class="page-item">
						    	<a class="page-link"  th:text="${page.current-1}">1</a></li>
						    <li class="page-item active" aria-current="page">
							      <span class="page-link" th:text="${page.current}">2
							      </span>
							    </li>
						    <li th:if="${page.current+1<=totalPages}" class="page-item">
						    	<a class="page-link"   th:text="${page.current+1}">3</a></li>
						    <li th:if="${page.current+2<=totalPages}" class="page-item">
						    	<a class="page-link"  th:text="${page.current+2}">4</a></li>
						    <li th:if="${page.current+3<=totalPages}" class="page-item">
						    	<a class="page-link"   th:text="${page.current+3}">5</a></li>
						    <li class="page-item" th:classappend="${!page.hasNext}?'disabled' ">
						      <a class="page-link"  aria-label="Next">
						        <span aria-hidden="true">&raquo;</span>
						      </a>
						    </li>
						  </ul>
						</nav>
					</div>
				</div>
				<!-- 页面展示 end -->
            </div> 
            <!-- end video-right -->
        </div> <!-- end 视频展示端 -->
        <!-- 清除浮动 -->
        <div class="clear-float-2" style="clear:both"></div>

        <!-- <include src="./boom.html"></include> -->

        <div class="boom">
            <p>技术支持 @ 技术项目组-海南师范大学信息网络与数据中心 </p>
        </div>
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  	<script src="https://www.layuicdn.com/layui/layui.js"  charset="utf-8"></script>
  	<script type="text/javascript">
  		 	//刷新视频直播
        	$(function(){
		  		loadStreams(); //第一次加载 
		  		//每隔一分钟刷新一次
		  		setInterval("loadStreams()",15000); //每隔15秒刷新一次 
		  	});
		  	// 执行函数
	  		function loadStreams(){
	  			$('#liveDiv').load("/streams.do");
	  		};
        
        	// layui
            layui.use(['carousel', 'form' ,'dropdown'], function(){
              var carousel = layui.carousel
              ,form = layui.form
              ,dropdown = layui.dropdown;
              
              // 菜单点击 事件
              //菜单点击事件，其中 docDemoMenu1 对应的是菜单结构上的 id 指 
			  dropdown.on('click(docDemoMenu1)', function(options){
			    var othis = $(this); //当前菜单列表的 DOM 对象
			    // console.log(options); //菜单列表的 lay-options 中的参数
			    
			    //点击小分类事件 操作，展示对应的数据
			    alert(options["code"]);
			    
			    // 传递搜索条件 并展示相应的内容
			    
			  });
              
              //改变下时间间隔、动画类型、高度
              carousel.render({
                elem: '#test2'
                ,interval: 2800
                ,anim: 'fade'
                ,width: '90%'
                ,height: '220px'
              });
              

              var $ = layui.$, active = {
                set: function(othis){
                  var THIS = 'layui-bg-normal'
                  ,key = othis.data('key')
                  ,options = {};
                  
                  othis.css('background-color', '#5FB878').siblings().removeAttr('style'); 
                  options[key] = othis.data('value');
                  ins3.reload(options);
                }
              };
              
              //监听开关
              form.on('switch(autoplay)', function(){
                ins3.reload({
                  autoplay: this.checked
                });
              });
              
              $('.demoSet').on('keyup', function(){
                var value = this.value
                ,options = {};
                if(!/^\d+$/.test(value)) return;
                
                options[this.name] = value;
                ins3.reload(options);
              });
              
              //其它示例
              $('.demoTest .layui-btn').on('click', function(){
                var othis = $(this), type = othis.data('type');
                active[type] ? active[type].call(this, othis) : '';
              });
            });
            
            
            // 检索功能
            var xmlHttp; //全局 App 请求 数据
			var currentInfo="";
			var counter=1;
			var isReading = false;
			 
			function readInfo(){
				var info =document.getElementById("info").value; //文本  输入的信息
				if(currentInfo==info && info!=""){
					counter++;
					
				}else{
					currentInfo=info;
					counter=1;
					
				}
				if(counter==3){
					getSuggest(info);
					isReading=false;
					
				}else{
					setTimeout("readInfo()", 200);
				}
			}
			/**
			 * 更新搜索框 内容
			*/
			function resetReading(){
				// alert("输入变化了")
				if(!isReading){
					isReading=true;
					readInfo();  // 搜索内容
				}
			}
			
			function createXmlHttp(){
				if(window.XMLHttpRequest){
					xmlHttp = new XMLHttpRequest();
				}else{
					xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
				}
			}
			// 搜索变动时出发 接口函数 ***************88************
			function getSuggest(info){
				createXmlHttp(); //创建http 请求
				xmlHttp.open("GET", "http://210.37.8.148:8086/seach?seach="+info,true);  //  http://localhost:8086/testInfo?info=yuxuhang
				xmlHttp.onreadystatechange = showSuggest;  // 当页面属性改变 时 触发修改页面
				xmlHttp.send(null);   // 使用post 方式时 才会改变响应的 内容
			}
			function clearSuggest(){
				document.getElementById("suggest").innerHTML ="";
				
			}
			// show the  
			function createSuggest(text){
				var sDiv  = "<div class='out' onmouseover=\"this.className='over'\" onmouseout = \"this.className='out'\" onclick=\"setSuggest(this)\">"+text+"</div>";
				document.getElementById("suggest").innerHTML +=sDiv;
			}
			function displaySuggest(){
				document.getElementById("suggest").style.display="";
			}
			function hiddentSuggest(){
				document.getElementById("suggest").style.display="none";
			}
			/**
			 * 搜索框变动时，触发该函数 返回数据 处理数据
			*/
			function showSuggest(){
				if(xmlHttp.readyState == 4){ // 如果状态为4 返回数据
					clearSuggest(); //清除数据
					var suggestsText = xmlHttp.responseText; // 返回的数据 如果是josin 
			
					if(suggestsText !=""){
						suggestsText=JSON.parse(suggestsText);// @yuxuhang add  解析返回来的  json 数据
						var suggests = suggestsText.split(","); // 把获得的 数据以 “|” 分开
						for (var i=0;i<suggests.length;i++){
						 	createSuggest(suggests[i]);
						 }
						//createSuggest(suggestsText);
						displaySuggest();  // 展示数据
					}else{
						hiddentSuggest();
					}
				}
			}
			function setSuggest(divObj){
				document.getElementById("info").value=divObj.innerHTML;
				hiddentSuggest();
			}
			function showInfo(){
				var name = document.getElementById("info").value;
				$('#video-right').load("/re?seachInfo="+name);
				//$('#show-p').load("/re_p?seachInfo="+name);
			}
			// 页面操控
			function re(obj){
				//alert("obj点击")
				var nameElem = document.getElementById("info");
				var name = nameElem.value;
				$('#video-right').load("/re?seachInfo="+name+"&pageIndex="+obj.text());
				nameElem.value=name;	
			}
		  	$(function(){
		  		$('#pageVideo').addClass("active");
		  	});
            </script>
        
    </body>
 
</html>